<% if resource.errors.any? %>
  <div class="alert alert-alert">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
