<%= form_for ([@storage, uploaded_file]) do |f| %>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-sm-12">
        <p class="text_input_fields storage_input" ><%= f.file_field :image %></p>
      </div>
      <div class="col-lg-2 col-sm-12">
        <%= f.submit "Upload" %>
      </div>
    </div>
  </div>
<% end %>
