<%= form_for ([@storage, @uploaded_file]) do |f| %>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-sm-12">
        <% text_field :email, :class => "text_input_fields storage_input", :type => "email", :placeholder=>"enter email"%>
        <input class = "text_input_fields storage_input", type = "email", placeholder="enter email"%>
      </div>
      <div class="col-lg-2 col-sm-12">
        <%= f.submit "Share" %>
      </div>
    </div>
  </div>
<% end %>
