<div class="breadcrumbs">
  <%= link_to 'home', root_path %> / <%= link_to 'storages', storages_path %> / <%= link_to @storage.name, storage_uploaded_files_path(@storage) %>
</div>
<%= render 'form', uploaded_file: @uploaded_file %>
