<% unless user_signed_in? %>
  <%= render 'layouts/subscriptions'%>
<% else %>
  <%= render 'layouts/profile'%>
  <br><br><br>
  <h1>Upgrade Your Subscription (<%= User::PACKAGES[current_user.selected_package] %>)</h1>
  <%= render 'layouts/subscriptions'%>
<% end %>