<div class="float-right">
  <% if current_user.admin %>
    <h2>Hello admin</h2>
  <% else %>
    <h2>Hello <%= current_user.email %>&nbsp; &nbsp;<%= image_tag("user.png", :alt => "user pic", :id=> "profile_image")%></h2>
  <% end %>
</div>


