<% unless user_signed_in? %>
  <a href="/user/sign_up">
    <input class="btn" type="submit" value="subscribe">
  </a>
<% else %>
  <a href="/user/edit">
    <input class="btn" type="submit" value="subscribe">
  </a>
<% end %>