<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <% if !user_signed_in? || current_user.selected_package != 5%>
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
            <h6 class="card-price text-center">€0<span class="period"> /month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li>5GB Storage</li>
              <li>Unlimited File Share</li>
              <li>Community Access</li>
            </ul>
            <%= render 'layouts/subscribe_buttons'%>
          </div>
        </div>
      </div>
      <% end %>
      <!-- Plus Tier -->
      <% if !user_signed_in? || current_user.selected_package != 25%>
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
            <h6 class="card-price text-center">€9<span class="period"> /month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li></span>25GB Storage</li>
              <li>Unlimited File Share</li>
              <li>Community Access</li>
            </ul>
            <%= render 'layouts/subscribe_buttons'%>
          </div>
        </div>
      </div>
      <% end %>
      <!-- Extra Tier -->
      <% if !user_signed_in? || current_user.selected_package != 50%>
      <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Extra</h5>
              <h6 class="card-price text-center">€12<span class="period"> /month</span></h6>
              <hr>
              <ul class="fa-ul">
                <li></span>50GB Storage</li>
                <li>Unlimited File Share</li>
                <li>Community Access</li>
              </ul>
              <%= render 'layouts/subscribe_buttons'%>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
</section>